<!-- <div class="functions">
    <h3>Functions</h3>

    <div class="function moveASquares">
        <h3>Move another player 1 - 6 squares</h3>
        <h4 class="moveASquaresRemaining"></h4>
        <input type="button" class="functionUse moveASquaresFunction" value="Use">
    </div>

    <div class="function putOnRed">
        <h3>Put another player on red square</h3>
        <h4 class="putOnRedRemaining"></h4>
        <input type="button" class="functionUse putOnRedFunction" value="Use">
    </div>

    <div class="function saveFromRed">
        <h3>Save yourself when on red square</h3>
        <h4 class="saveFromRedRemaining"></h4>
        <input type="button" class="functionUse saveFromRedFunction" value="Use">
    </div>
</div> -->
<!-- <div class="playerPosition2"></div> -->